
body {
    background-color: #ffffff;
}

h1, .cta {
    font-family: 'Museo Sans 700', sans-serif;
    color: #d76427;
}

p, .support-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: #075254;
}
